:root {
  --orange1: #e95d05;
  --orange2: #f07900;
  --orange3: #f8a145;
  --black1: black;
  --black2: #151515;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');



html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.logo {
  cursor: pointer;
}

.logo:hover {
   filter: brightness(150%);
}

.link:hover {
  color: var(--orange3);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#__next {
  background: hotpink;
  height: 100vh;
  overflow: auto;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Ccircle stroke='%23D60' vector-effect='non-scaling-stroke' id='a' fill='none' stroke-width='5' r='315'/%3E%3Cuse id='f' href='%23a' stroke-dasharray='100 100 100 9999'/%3E%3Cuse id='b' href='%23a' stroke-dasharray='250 250 250 250 250 9999'/%3E%3Cuse id='e' href='%23a' stroke-dasharray='1000 500 1000 500 9999'/%3E%3Cuse id='g' href='%23a' stroke-dasharray='1500 9999'/%3E%3Cuse id='h' href='%23a' stroke-dasharray='2000 500 500 9999'/%3E%3Cuse id='j' href='%23a' stroke-dasharray='800 800 800 800 800 9999'/%3E%3Cuse id='k' href='%23a' stroke-dasharray='1200 1200 1200 1200 1200 9999'/%3E%3Cuse id='l' href='%23a' stroke-dasharray='1600 1600 1600 1600 1600 9999'/%3E%3C/defs%3E%3Cg transform='translate(1000 750)' %3E%3Cg transform='rotate(0 0 0)' %3E%3Ccircle fill='%23D60' r='10'/%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23f' transform='scale(.1) rotate(50 0 0)' /%3E%3Cuse href='%23f' transform='scale(.2) rotate(100 0 0)' /%3E%3Cuse href='%23f' transform='scale(.3) rotate(150 0 0)' /%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23b' transform='scale(.4) rotate(200 0 0)' /%3E%3Cuse href='%23z' transform='scale(.5) rotate(250 0 0)' /%3E%3C/g%3E%3Cg id='z' transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23b'/%3E%3Cuse href='%23b' transform='scale(1.2) rotate(90 0 0)' /%3E%3Cuse href='%23b' transform='scale(1.4) rotate(60 0 0)' /%3E%3Cuse href='%23e' transform='scale(1.6) rotate(120 0 0)' /%3E%3Cuse href='%23e' transform='scale(1.8) rotate(30 0 0)' /%3E%3C/g%3E%3C/g%3E%3Cg id='y' transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23e' transform='scale(1.1) rotate(20 0 0)' /%3E%3Cuse href='%23g' transform='scale(1.3) rotate(-40 0 0)' /%3E%3Cuse href='%23g' transform='scale(1.5) rotate(60 0 0)' /%3E%3Cuse href='%23h' transform='scale(1.7) rotate(-80 0 0)' /%3E%3Cuse href='%23j' transform='scale(1.9) rotate(100 0 0)' /%3E%3C/g%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23h' transform='scale(2) rotate(60 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.1) rotate(120 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.3) rotate(180 0 0)'/%3E%3Cuse href='%23h' transform='scale(2.4) rotate(240 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.5) rotate(300 0 0)'/%3E%3C/g%3E%3Cuse href='%23y' transform='scale(2) rotate(180 0 0)' /%3E%3Cuse href='%23j' transform='scale(2.7)'/%3E%3Cuse href='%23j' transform='scale(2.8) rotate(45 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.9) rotate(90 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.1) rotate(135 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.2) rotate(180 0 0)'/%3E%3C/g%3E%3Cuse href='%23k' transform='scale(3.3) rotate(225 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.5) rotate(270 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.6) rotate(315 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.7)'/%3E%3Cuse href='%23k' transform='scale(3.9) rotate(75 0 0)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover; 
}

.layout {
  background: var(--black2);
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 1px 1px 15px 2px #1d1b1b;
  
}

footer h2 {
  color: rgb(121, 117, 117);
  text-align: center;
  font-size: 0.85rem;
  padding-bottom: 10px;
}

header {
  background: var(--black1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px 10px 15px;
  margin-bottom: 120px;
  color: var(--orange1);
}

header a {
  margin: 10px;
}

main {
  min-height: calc(100vh - 80px);
  width: 95%;
  margin: 0px auto;
  color: var(--orange1);
}

.start-btn {
  color: var(--orange2);
  display: block;
  margin: 10px auto;
  margin-bottom: 100px;
  letter-spacing: 2px;
  padding: 10px 20px;
  font-size: 3rem;
  cursor: pointer;
  border: 1px solid var(--orange1);
  border-radius: 50px;
  background: none;
  animation: float 3s ease-in-out infinite;
}

.start-btn:hover {
  background: var(--orange1);
  color: var(--black1);
}

.overview {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0px 25px;
}

.overview-card {
  background: var(--black1);
  width: 330px;
  margin: 10px 4px;
  height: 300px;
  border-radius: 10px;
  text-align: center;
  color: #e95d05;
}

.overview-card svg {
  fill: var(--orange1);
  margin-left: 7px;
}

.overview-card__title {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 1.5rem;
}

.overview-card__count {
  margin-bottom: 20px;
  font-size: 1rem;
}


@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.9);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-12px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.9);
		transform: translatey(0px);
	}
}

.hiden {
  display: none;
}