

.log {
    border-bottom: 1px solid var(--orange1);
    padding: 10px;
    margin: 5px;
    display: flex;
    align-items: center;
}

.log-date {
    width: 80px;
}

.log-time {
    width: 50px;
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
}

.log-time__svg {
    margin-left: 5px;
    margin-top: 2px;
    fill: var(--orange1);
    vertical-align: bottom;
}