
.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background: var(--black1);
    color: var(--orange1);
    width: 300px;
    height: 280px;
    border-radius: 10px;
}

.card-title {
    margin-top: 25px;
    text-align: center;
    font-size: 1.75rem;
}

.card-label {
    display: block;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 0.85rem;
    color: var(--orange2);
    text-align: center;
}

.card-input {
    display: block;
    margin: 5px auto;
    padding: 3px 10px;
    background: none;
    border: none;
    color: var(--orange3);
    border-bottom: 1px solid var(--orange1);
}

.card-button {
    border: none;
    background: none;
    display: block;
    margin: 5px auto;
    margin-top: 25px;
    padding: 4px 12px;
    color: var(--orange1);
    font-size: 1.15rem;
    cursor: pointer;
}

.card-button:hover {
    background: var(--orange1);
    color: var(--black1);
    border-radius: 50px;
    font-weight: bold;
}

.card-button svg {
    vertical-align: bottom;
    margin-left: 2px;
}

.card-button:hover svg {
    fill: var(--black1);
}

